.slider{
  width: 288px;
  height: 227px;
  background-color: #000;
  margin: auto;
  position: relative;
}
.slide{
  width: 100%;
  height: 100%;
  background-color: #696969;
  flex-shrink: 0;
  transition: .5s all;
  background-size: cover;
  position: absolute;
}
#num1{
  background-image: url(../../img/slide_1.png);
  opacity: 0;
}
#num2{
  background-image: url(../../img/slide_2_mobile.jpg);
  opacity: 0;
}
#num3{
  background-image: url(../../img/slide_3.png);
  opacity: 0;
}
#num4{
  background-image: url(../../img/slide_4.png);
  opacity: 0;
}
#num5{
  background-image: url(../../img/slide_5.png);
  opacity: 0;
}

.btn{
  position: absolute;
  bottom: 10px;
  opacity: 0.8;
  z-index: 99;
  left: 139px;
}
.btn:nth-child(1){
  left: 112px;
}
.btn:nth-child(2){
  left: 125px;
}
.btn:nth-child(4){
  left: 152px;
}
.btn:nth-child(5){
  left: 165px;
}

#slide_1:checked ~ #num1{
  opacity: 1;
}
#slide_2:checked ~ #num2{
  opacity: 1;
}
#slide_3:checked ~ #num3{
  opacity: 1;
}
#slide_4:checked ~ #num4{
  opacity: 1;
}
#slide_5:checked ~ #num5{
  opacity: 1;
}