@media screen and (min-width: 961px){
	.charts__holder{
		justify-content: flex-start;
		min-width: 874px;
		width: 81.7vw;
		margin: 0 auto;
	}

	.chart__block_holder{
		display: flex;
		flex-wrap: wrap;
		align-content: baseline;
	}
	.chart__block_holder:nth-child(2){
		margin-right: 70px;
	}

	#block_1{
		order: 1;
		width: 37.5%; /*440px;*/
	}
	#block_2{
		order: 0;
		width: 54.4%; /*640px*/
	}
	#block_3{
		order: 2;
		width: 85.4%;
	}

	.important_message__holder{
		width: 100%; /*440px;*/
		height: 220px;
		order: 0;
		box-sizing: border-box;
		padding: 7.4%;
		position: relative;
	}
	.important_message{
		font-size: 22px;
	}
	.important_message__holder::before,
	.important_message__holder::after{
		content: '+';
		position: absolute;
		font-weight: 700;
		font-size: 22px;
	}
	.important_message__holder::before{
		left: 75%;
		bottom: -125px;
	}
	.important_message__holder::after{
		left: 79%;
		bottom: -133px;
	}

	.chart_block{
		border: 2px dotted black;
		box-sizing: border-box;
		width: 44.55%; /*285px;*/
		height: 75px;		
		position: relative;
		margin-top: 0;
	}
	.chart_block:not(:last-child){
		margin-right: 4.8vw; /*69px;*/
	}
	.chart__block_holder:nth-child(2) > .chart_block:nth-child(3n+2){
		margin-right: 0;
	}
	#block_3 > .chart_block {
		width: 28.38%;
	}


	.chart_block:before,
	.chart_block:after {
		content: "";
		display: none;
		position: absolute;
		border: 16px solid transparent;
		border-right: 0;
		border-top-width: 7px;
		border-bottom-width: 7px;
	}
	.chart_block:before {
		width: 15%; /*30px;*/ /*от ширины блока*/
		top: 50%;
		left: 104%;
		border: 1px solid#34cc99;
	}
	.chart_block:after {
		top: calc(50% - 6px);
		left: 118%;
		border-left-color: #34cc99;
	}

	.chart_block:not(:last-child):after,
	.chart_block:not(:last-child):before{
		display: block;
	}
	.chart__block_holder:nth-child(2) > .chart_block:nth-child(3n+2):after,
	.chart__block_holder:nth-child(2) > .chart_block:nth-child(3n+2):before{
		display: none;
	}





	.arrow__container{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.arrow-body{
		width: 56.25%;
		height: 2px;
		background-color: #34cc99;
		position: relative;
		margin-top: 34px; /* 70px должна быть высота, значит половина высоты - половина высоты боди*/
		margin-bottom: 36px;
	}

	.arrow_left, .arrow_right{
		position: absolute;
		width: 2px;
		height: 29px;
		background-color: #34cc99;
	}
	.arrow_right{
		right: 0;
		top: -29px;
	}

	.arrow_left::before{
		content: "";
		display: block;
		position: absolute;
		border: 8px solid transparent;
		top: 20px;
		left: -7px;
		border-top-color: #34cc99;
		border-top-width: 16px;
	}

}